<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <link rel="stylesheet" th:href="@{/styles/reset.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>

<body>
    <header class="cabecalho">
        <a th:href="@{inicio}">
            <img class="logo_cabecalho" src="/img/logo-removebg.svg" />
        </a>
        <div
            style="width: 1592px; height: 96px; left: 167px; top: 7px; position: absolute; text-align: center; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 64px; font-family: Roboto; font-weight: 500; line-height: 71.86px; word-wrap: break-word">
            Cadastro de Clientes
        </div>
    </header>

    <div class="area-principal">
        <div class="barra">
            <ul>
				<li class="opcao_lista"><a class="link_lista" th:href="@{/cliente/listar}">CLIENTES</a></li>
				<li class="opcao_lista"><a class="link_lista" th:href="@{/estoque/listar}">ESTOQUE</a></li>
				<li class="opcao_lista"><a class="link_lista" th:href="@{/vendas/listas}">VENDAS</a></li>
				<li class="opcao_lista"><a class="link_lista" th:href="@{/ordens/listar}">ORDENS DE SERVIÇO</a></li>
                <li class="opcao_lista"><a class="link_lista" th:href="@{/inicio}">INÍCIO</a></li>
            </ul>
        </div>
        <div class="formulario-cliente">
            <form th:action="@{/cliente/cadastrar}"th:object="${cliente}"method="post"class="formulario">
                <!-- Coluna 1: Dados Pessoais -->
                <div class="coluna">
                    <h3 class="titulo_formulario">Dados Pessoais</h3>
					<label for="idCliente"></label>
					<input type="hidden" id="idCliente" th:field="*{idCliente}">	

                    <label for="nomeCliente">Nome Completo:</label>
                    <input class="campo_digitacao" type="text" id="nomeCliente" th:field="*{nomeCliente}" required>
					<span th:if="${#fields.hasErrors('nomeCliente')}" th:errors="*{nomeCliente}" class="error"></span>

                    <label for="endEmail">E-mail:</label>
                    <input class="campo_digitacao" type="text" id="endEmail" th:field="*{endEmail}" required>
					<span th:if="${#fields.hasErrors('endEmail')}" th:errors="*{endEmail}" class="error"></span>

                    <label for="telefone">Telefone:</label>
                    <input class="campo_digitacao" type="text" id="telefone" th:field="*{telefone}" required>
					<span th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}" class="error"></span>

                    <label for="cpf">CPF:</label>
                    <input class="campo_digitacao" type="text" id="cpf" th:field="*{cpf}" required>
					<span th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}" class="error"></span>
                </div>
                    <hr class="separador"></hr>
                <!-- Coluna 2: Dados de Endereço -->
                <div class="coluna">
                    <h3 class="titulo_formulario">Dados de Endereço</h3>

                    <label for="rua">Rua:</label>
                    <input class="campo_digitacao" type="text" id="rua" th:field="*{rua}" required>
					<span th:if="${#fields.hasErrors('rua')}" th:errors="*{rua}" class="error"></span>
                    <div class="linha">
                        <div class="metade">
                            <label for="bairro">Bairro:</label>
                            <input class="campo_digitacao" type="text" id="bairro" th:field="*{bairro}" required>
							<span th:if="${#fields.hasErrors('bairro')}" th:errors="*{bairro}" class="error"></span>
                        </div>
                        <div class="numero">
                            <label for="numeroCasa">Nº:</label>
                            <input class="campo_digitacao" type="number" id="numeroCasa" th:field="*{numeroCasa}" required>
							<span th:if="${#fields.hasErrors('numeroCasa')}" th:errors="*{numeroCasa}" class="error"></span>
                        </div>
                    </div>
                    <label for="cidade">Cidade:</label>
                    <input class="campo_digitacao" type="text" id="cidade" th:field="*{cidade}" required>
					<span th:if="${#fields.hasErrors('cidade')}" th:errors="*{cidade}" class="error"></span>
                    <label for="cep">CEP:</label>
                    <input class="campo_digitacao" type="text" id="cep" th:field="*{cep}" required>
					<span th:if="${#fields.hasErrors('cep')}" th:errors="*{cep}" class="error"></span>
                </div>
            
				
            <div class="botoes">
                <a class="link_cancelar" th:href="@{/cliente/listar}">
					<button type="button" class="cancelar"  >❌ Cancelar</button></a>
				<a class="link_cancelar" th:href="@{/editar/{idCliente}}">
					<button type="submit"  class="cadastrar" onclick="confirmarAtualização(event)">✔️ Cadastrar</button></a>
            </div>
			
        </div>
		
    </div>
	</form>
	
	<script th:if="${mensagem != null}">
	    Swal.fire({
	        toast: true,
	        position: 'top-end',
	        icon: 'success',
	        title: '[[${mensagem}]]',
	        showConfirmButton: false,
	        timer: 3000,
	        timerProgressBar: true
	    });
	</script>
	<script>
	    function confirmarAtualizacao(event) {
	        const id = document.getElementById("idCliente").value;
	        if (parseInt(id) > 0) {
	            const confirmar = confirm("Deseja realmente atualizar os dados desta vaga?");
	            if (!confirmar) {
	                event.preventDefault(); // cancela o envio do formulário
	            }
	        }
	    }
	</script>
	
</body>
</html>