<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Serviço</title>
<link rel="stylesheet" th:href="@{/styles/reset.css}">
<!-- MANTER O PADRÃO DE ANOTAÇÃO THYMELEAF TH: @{} -->
<link rel="stylesheet" th:href="@{/styles/style.css}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
	rel="stylesheet">

</head>

<body>
	<header class="cabecalho">
		<a th:href="@{inicio}"> <img class="logo_cabecalho"
			src="/img/logo-removebg.svg" />
		</a>
		<div class="titulo_pagina" >
			Cadastro de Serviço
		</div>
	</header>

	<div class="area-principal">
		<div class="barra">
			<ul>
				<li class="opcao_lista"><a class="link_lista" th:href="@{/inicio}">INÍCIO</a></li>
				<li class="opcao_lista"><a class="link_lista" th:href="@{/clientes/listar}">CLIENTES</a></li>
				<li class="opcao_lista"><a class="link_lista" th:href="@{/produto/listar}">ESTOQUE</a></li>
				<li class="opcao_lista"><a class="link_lista" th:href="@{/vendas/listar}">VENDAS</a></li>
				<li class="opcao_lista"><a class="link_lista" th:href="@{/ordens/listar}">ORDENS DE SERVIÇO</a></li>
			</ul>
		</div>
		<div class="formulario">
			<form class="formulario">
				<!-- Coluna 1: Dados do Produto -->
				<div class="coluna">
					<h3 class="titulo_formulario">Informações do Serviço</h3>
						<label>Serviço:</label> <input class="campo_digitacao"type="text" name="nome" required>
						<label>Valor do Serviço:</label> 
						<input class="campo_digitacao" type="text" name="valor"required>
						<label>Descrição do Serviço:</label> 
						<input class="campo_digitacao_grande" type="text" name="descrisaoServico"required>
				</div>
					<div class="botoes" >
					    <a class="link_cancelar" th:href="@{/ordens/listar}">
					    <button type="button" class="cancelar">❌ Cancelar</button></a>
					    <button type="submit" class="cadastrar">✔️ Cadastrar</button>
					</div>
			</form>
		</div>
	</div>
</body>
</html>