<!DOCTYPE html>
<html lang="en"	xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <link rel="stylesheet" th:href="@{styles/reset.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" th:href="@{styles/style.css}" >
</head>

<body>
    <header class="cabecalho">
        <a th:href="@{inicio}">
            <img class="logo_cabecalho" src="img/logo-removebg-preview 1.svg" />
        </a>
        <div
            style="width: 1592px; height: 96px; left: 167px; top: 7px; position: absolute; text-align: center; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 64px; font-family: Roboto; font-weight: 500; line-height: 71.86px; word-wrap: break-word">
            Clientes
        </div>
    </header>

    <div class="area-principal">
        <div class="barra">
            <ul>
			    <li class="opcao_lista"><a class="link_lista_atual" th:href="@{clientes}">CLIENTES</a></li>
			    <li class="opcao_lista"><a class="link_lista" th:href="@{estoque}">ESTOQUE</a></li>
			    <li class="opcao_lista"><a class="link_lista" th:href="@{vendas}">VENDAS</a></li>
			    <li class="opcao_lista"><a class="link_lista" th:href="@{ordens}">ORDENS DE SERVIÇO</a></li>
				<li class="opcao_lista"><a class="link_lista" th:href="@{inicio}">INÍCIO</a></li>
			</ul>
        </div>

        <!-- CONTEÚDO DA PÁGINA -->
        <div class="conteudo">
            <div class="banner">
                <div class="botao_adicionar">
                    <a class="link_botao" th:href="@{cadastro_cliente}"><img class="adicionar"
                            src="img/adicionarpeq.svg">Adicionar Cliente
                </div></a>
                <input type="search" class="banner_pesquisa"
                    placeholder="Procure pelo nome, e-mail, telefone ou CEP do cliente">
            </div>
            <div class="filtro">
                <br>
            </div>
            <div class="tabela">
                <table>
                    <thead>
                        <tr>
                            <th>Nome</th>
							<th>CPF</th>
                            <th>E-mail</th>
                            <th>Telefone</th>
                            <th>Bairro</th>
                            <th colspan="2" class="acoes">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
						<!-- Dados dinâmicos via Java serão inseridos aqui -->
						<tr th:each="cliente : ${clientes}">
							<td th:text="${cliente.nomeCliente}"></td>
							<td th:text="${cliente.cpf}"></td>
							<td th:text="${cliente.email[0].endEmail}"></td>
							<td th:text="${cliente.telefone[0].telefone}"></td>
							<td th:text="${cliente.endereco[0].bairro}"></td>
							<td class="acoes"> <!-- Adicionar esta classe CSS-->
								<a  th:href="@{'/editarCliente'(cpf=${cliente.cpf} )}" 
									onclick="return confirm('Tem Certeza que deseja Editar estes dados?')"
									class="botao-acao editar"> <!-- Adicionar esta classe CSS-->
									
								</a>
							</td>
							<td class="acoes"> <!-- Adicionar esta classe CSS-->
								<a  th:href="@{'/deletarCliente'(cpf=${cliente.cpf} )}" 
									onclick="return confirm('Tem Certeza que deseja Deletar estes dados?')"
									class="botao-acao deletar"> <!-- Adicionar esta classe CSS-->
									>
								</a>
							</td>
						</tr>

                        
                    </tbody>
                </table>
            </div>
        </div>
		
		
    </div>
</body>

</html>