<!DOCTYPE html>
<html lang="en"	xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque</title>
    <link rel="stylesheet" th:href="@{/styles/reset.css}">
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
		<!-- linha a seguir tras os icones da tabela-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>
    <header class="cabecalho">
        <a th:href="@{inicio}">
            <img class="logo_cabecalho" th:src="@{/img/logo-removebg.svg}" />
        </a>
        <div
            style="width: 1592px; height: 96px; left: 167px; top: 7px; position: absolute; text-align: center; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 64px; font-family: Roboto; font-weight: 500; line-height: 71.86px; word-wrap: break-word">
            Estoque
        </div>
    </header>

    <div class="area-principal">
        <div class="barra">
            <ul>
			<li class="opcao_lista"><a class="link_lista" th:href="@{/cliente/listar}">CLIENTES</a></li>
			<li class="opcao_lista"><a class="link_lista_atual" th:href="@{/produto/listar}">ESTOQUE</a></li>
			<li class="opcao_lista"><a class="link_lista" th:href="@{/vendas/listar}">VENDAS</a></li>
			<li class="opcao_lista"><a class="link_lista" th:href="@{/ordens/listar}">ORDENS DE SERVIÇO</a></li>
			<li class="opcao_lista"><a class="link_lista" th:href="@{/inicio}">INÍCIO</a></li>
            </ul>
        </div>

        <!-- CONTEÚDO DA PÁGINA -->
        <div class="conteudo">
            <div class="banner">
               	  <a th:href="@{/produto/cadastrarForm}">
					<input class="botao_adicionar" type="button" value="Adicionar Produto"></a>

				<form th:action="@{/produto/buscar}" style="display: flex; align-items: center; margin-left: 10px; margin-top: 20px; top: 13em; left: 222px;" >
					<input type="search" name="termo" th:value="${termo}" class="banner_pesquisa"
						placeholder="Buscar por nome, marca, categoria do produto...">
					<button type="submit" class="botao_pesquisar" style="margin-left: 10px; padding: 10px 15px; border-radius: 20px; background-color: #7C1F1F; color: white; border: none; cursor: pointer;">
					<i class="fas fa-search"></i> Pesquisar
				</form>
            </div>
            <div class="filtro">
                <br>
            </div>
            <div class="tabela">
                <table border='1'>
                    <thead>
                        <tr>
							<th>ID</th>
                            <th>Produto</th>
                            <th>Valor</th>
							<th>Quantidade em Estoque</th>
                            <th>Descrição</th>
                            <th>Categoria</th>
                            <th>Marca</th>
							<th colspan="1" class="acoes">Atualizar quantidade</th>
							<th colspan="2" class="acoes">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Dados dinâmicos via Java serão inseridos aqui -->
						<tr th:each="produto : ${produtos}">
							<td th:text="${produto.idProduto}" type="hidden"></td>
							<td th:text="${produto.nome}"></td>
							<td th:text="${produto.valor}"></td>
							<td th:text="${produto.quantidade} ?: 'N/A'"></td>
							<td th:text="${produto.descricao} ?: 'N/A'"></td>
							<td th:text="${produto.categoria?.nome} ?: 'N/A'"></td>
							<td th:text="${produto.marca?.nome} ?: 'N/A'"></td>
							<td class="acoes"> <!-- Adicionar esta classe CSS --><!--abaixo, chamos o endPoint da controller passando e indicando quem é o IDCliente  -->
								<a  th:href="@{editarForm/{idProduto} (idProduto=${produto.idProduto}) }" 
								onclick="return confirm('Tem Certeza que deseja Editar estes dados?')"
								class="botao-acao editar"> <!-- Adicionar esta classe CSS-->
								<i class="fa fa-edit"></i>
								</a>
							</td>
							<td class="acoes"> <!-- Adicionar esta classe CSS -->
							<!--abaixo, chamos o endPoint da controller passando e indicando quem é o IDCliente  -->
								<a  th:href="@{editarForm/{idProduto} (idProduto=${produto.idProduto}) }" 
									onclick="return confirm('Tem Certeza que deseja Editar estes dados?')"
									class="botao-acao editar"> <!-- Adicionar esta classe CSS-->
									<i class="fa fa-edit"></i>
								</a>
						    </td>
						    <td class="acoes"> <!-- Adicionar esta classe CSS-->
								<a  th:href="@{'/produto/deletar/'+${produto.idProduto}}" 
									onclick="return confirm('Tem Certeza que deseja Deletar estes dados?')"
									class="botao-acao deletar"> <!-- Adicionar esta classe CSS-->
									<i class="fa fa-trash-alt"></i>
								</a>
							</td>
						
						
						
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>