<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="stylesheet" th:href="@{styles/reset.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{styles/style.css}" >
</head>
<body>
    <header class="cabecalho">
        <a th:href="@{inicio}"> <img class="logo_cabecalho" src="img/logo-removebg-preview 1.svg"/></a> 
            <div style="width: 1592px; height: 96px; left: 167px; top: 7px; position: absolute; 
			text-align: center; justify-content: center; display: flex; flex-direction: column; 
			color: white; font-size: 64px; font-family: Roboto; font-weight: 500; line-height: 71.86px; 
			word-wrap: break-word">Início</div>
        </header>
    <div class="area-principal">
        <div class="barra">
            <ul>
			<li class="opcao_lista"><a class="link_lista" th:href="@{clientes}">CLIENTES</a></li>
			<li class="opcao_lista"><a class="link_lista_atual" th:href="@{estoque}">ESTOQUE</a></li>
			<li class="opcao_lista"><a class="link_lista" th:href="@{vendas}">VENDAS</a></li>
			<li class="opcao_lista"><a class="link_lista" th:href="@{ordens}">ORDENS DE SERVIÇO</a></li>
			<li class="opcao_lista"><a class="link_lista" th:href="@{inicio}">INÍCIO</a></li>
            </ul>
	</div>
            <div class="tabela">
                <table>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>Telefone</th>
                            <th>CEP</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>

                        <!-- Dados dinâmicos via Java serão inseridos aqui -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>