.tabela{
	padding: 20px;
	background-color: white;
    max-width: 1300px;
    margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow-x: auto;
}

table {
	width: 100%;
	border-collapse: collapse;
}

.tabela table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  font-size: 17px;
}

.tabela th,
.tabela td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.tabela th {
  background-color: #f2f2f2;
}

.tabela td:last-child {
  text-align: center;
}




